.container {
    background-image: url('Earth.jpg');
    background-repeat: no-repeat;
    background-size: cover;
     background-attachment: fixed;
    background-color: antiquewhite;
    background-position: center;
    height: 100vh;
    width: auto;
    /*z-index: -1;*/
}
header{
    height: 100px;
    width: 100%;
    border: 2px solid black;
    display: flex;
}
.flex{
    flex-direction: row;
    margin: 8px solid black;
    list-style: none;
    border: 8px;
    padding: 45px;
    flex-flow: row wrap;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: baseline;
    align-self: auto;
}